body {
    font-family: 'Raleway', sans-serif;
    background-color: #002200;
}

/* Colors
    yellow : e0cc6b
    dark-green : 002200
*/

/*
------------------------------------------------ TAGS
*/
input::placeholder {
    color: ##b2bec3;
    font-style: italic;
}

ul li {
    display: inline-block;
    list-style-type: none;
    padding: 1%;
}

/*
------------------------------------------------ IDS
*/

#bgvid {
    width: 100%;
}

#welcome-msg {
    background-image: url(resources/vendors/img/leaves-with-droplets.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}



/*
------------------------------------------------ CLASSES
*/
.sites {
    text-align: center;
}

.wrapper {
    margin: auto 0;
}

.wrapper > div {
    padding: 1em;
}

.centered-heading {
    color: #fff;
    font-size: 4em;
    margin: auto 0;
    text-align: center;
    color: #e0cc6b;
}

.sites img {
    border-radius: 40px;
    height: 75px;
    width: 75px;
}

.centered-datetime {
    color: #e0cc6b;
    font-size: 2em;
    text-align: center;
}


/*
------------------------------------------------ GOOGLE
*/
.cse .gsc-search-button-v2, gsc-search-button-V2 {
    border-radius: 10px;
    background-color: #013220;
    background-image: linear-gradient(top,#033500,#004400);

}

.gsc-control-cse, gsc-control-cse-en {
    background-color: red !veryimportant;
}

.gsc-expansionArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: .25em;
}

.gsc-expansionArea > div {
    border: 1px solid #333;
}

#gsc-i-id1 {
    min-height: 27px;
    font-size: 15px;
}

