body {
    font-family: 'Raleway', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;
    gap: .5em;
}

.wrapper > div:first-child {
    padding-top: 25%;
}

.wrapper > div {
    background: #eee;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

.welcome-msg {
    font-size: 10em;
}

#date-part , #time-part{
    color: black;
    font-size: 2em;
}

#datetime > p,
#welcome-msg > p {
    text-align: center;
}

.nested {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: .25em;
}

.nested > div {
    border: 1px solid #333;
}

.gsc-expansionArea {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: .25em;
}

.gsc-expansionArea > div {
    border: 1px solid #333;
}