/* .usefull-links {
    margin: 0 auto;
    width: auto;
} */

@media(max-width: 768px) {
    /* body { display: none;} */

    .header-content .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    #calendar {
        position: relative !important;
        /* border: solid red 1px; */
        margin: 0 auto;
        top: 0px;
        left: 0px;
    }

    .usefull-links .grid .grid-flow {
        grid: auto-flow / 1fr;
    }
    
    /* .wrapper { width: 768px;} */

    /* #header, */
    .header-content,
    /* #welcome-msg, */
    #google,
    .usefull-links {
        max-width: 768px;
        margin: 0 auto;
    }

    #welcome-msg {
        /* border: solid orange 1px; */
        height: auto;
    }
}

/* ----- Mobiles : from 481 to 613 px ----- */
@media(max-width: 613px) {
    /* body{ display: none;} */

    #header .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .header-content,
    /* #welcome-msg, */
    #google,
    .usefull-links {
        max-width: 613px;
    }

    #welcome-msg {
        /* border: solid red 1px; */
        max-width: 500px;
    }
}

/* Small Mobiles : from 0 to 480 px */
@media(max-width: 480px) {
    /* body{ display: none;} */

    .header-content,
    #google,
    .usefull-links {
        max-width: 480px;
    }

    #welcome-msg {
        /* border: solid orange 1px; */
        max-width: 400px;
    }

    #welcome-msg > p {
        font-size: 2.5em;
    }

    #google span {
        font-size: 5em;
    }
}